.background-wrapper{
    position: absolute;
    background-image: url('../img/background.png');
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:2.2rem;
    font-size: 1.6rem;
}

.card-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:10rem;
    font-size: 1.6rem;
}

.wrap0{
    margin-top: 10rem;
}

.wrap1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: var(--mainGray);
}