#tsp.content{
    align-items: center;
    flex-direction: column;
}

.calendar-wrap{
    width: 80%;

    padding: 10px;
}

.calendar-wrap .item-wrap{
    display: block;

    border: 1px solid;
    width: calc(100%/7);
    height: 120px;

    background-color: #FAFAFA;
}

.calendar-wrap .row-wrap{
    display: flex;
    flex-direction: row;


    background-color: #FAFAFA;
}


.calendar-wrap .day-wrap{
    display: block;

    border: 1px solid;
    width: calc(100%/7);
    height: 120px;

    background-color: #A0A0A0;
}

.calendar-wrap .disabled-day{
    width: 100%;
    height: 100%;
    background-color: #A0A0A0;
}

.calendar-wrap .week-wrap{
    display: flex;
    flex-direction: row;


    background-color: #A0A0A0;
}

.trainings{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pre-training{
    color: var(--titleRed);
    cursor: pointer;
}

.pre-training:hover{
    color: var(--titleYellow);
}