
/*
    Plan:
        input-field part
        multi-select part
        pop-up-div-part
        animations
        images
 */


.frame-div-shown{
    width: 100%;
    height: 66px;
}

.frame-div-hidden{
    width: 100%;
    height: 0;
}

.fixed{
    position: fixed;
    width: 170px!important;
    z-index: 9999;
    left: 1165px;
    top: 435px;
}

/*
        input-field part
 */

.input-field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:2.2rem;
    font-size: 1.6rem;
    color: var(--mainGray);
    width: 100%;
}

.out-text{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    text-align: center;

    color: var(--textGray);


}

.input-field-wrap {
    border: 1px solid var(--mainGray);
    border-radius: 60px;

    padding-left: 1.3rem;
    margin-top: 0.5rem ;

    color:var(--mainWhite);

    width: 90%;
    height: 37px;

    display: flex;
    text-align: -webkit-center;
    align-items: center;
    justify-content: center;
}

div.input-field-wrapper input {
    display: block;
    width:80%;
    height: 70%;
    border: 0;
    border-radius: 60px;
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto,
    Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
    background-color:var(--mainWhite);
    color: var(--mainGray);
}

div.input-field-wrapper input :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

div.input-field-wrapper textarea {
    display: block;
    width:90%;
    height: 80%;
    border: 0;
    font-size: 1.3rem;
    color: var(--mainGray);
    resize: none;
}

/*
        multi-select part
 */

.open-wrapper{
    background:var(--mainWhite);
    border: 1px solid #888888!important;
    border-radius: 39px!important;
    z-index: 99999;
}

.super-wrapper{
    position: relative;
    width:100%;
    height: 66px;
}

.super-input-field-wrapper {
    position: absolute;
    left:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:2.2rem;
    font-size: 1.6rem;
    color: var(--mainGray);
    background-color:var(--mainWhite);
    width: 90%;
}

.multi-select-field-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--mainGray);
    border-radius: 60px;
    padding-left: 1rem;
    margin-top: 0.5rem ;
    font-size: 1.6rem;
    color: var(--mainGray);
    width: 100%;
}

.multi-select-header{
    display: flex;
    -webkit-align-items: center;
    font-size: 1.3rem;
    color: var(--mainGray);
    /*width: 100%;
     */
    height: 39px;
}

.multi-select-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--mainGray);
    width: 90%;
    border-top: 1.5px solid var(--mainGray);
    overflow: hidden;
}

.select-option-wrap{
    display: block;
    margin-bottom: 4px;
    font-size: 1.2rem;
    color: var(--mainGray);
}

div.select-option-wrap input{
    display: inline;
}

.sweep-button{
    display: inline-flex;
    border: 1px solid var(--mainGray);
}

.sweep-button:hover{
    border: 1px solid var(--titleRed);
}

.sweep-button:active{
    border: 1px solid var(--titleYellow);
}


/*
        pop-up-div part
 */

.pop-up-wrapper{
    position: fixed;
    top:0;
    left:0;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    margin: 0;
    width: 100%;
    height: 800px;
    z-index: 1000;

    background-color:rgba(20,21,21,0.9);
}

.pu-main-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    border: 0px solid var(--mainGray);
    border-radius: 60px;
    transform: matrix(1, 0, 0, 1, 0, 0);

    margin: 0;
    padding: 10px;
    width: 60%;
    height: 500px;

    background-color:var(--mainWhite);
}

.pu-close-button{
    cursor: pointer;
    margin-left: 70%;
    background-color:var(--mainWhite);
}

.pu-close-button:hover{
    background-color:#C0A0A0;
}


/*
    animation part
 */

@keyframes close{
    0% {height: 100%;}
    100% { height: 0;}
}

@keyframes open {
    0% {height: 0;}
    100% { height: 100%;}
}

.closed{
    border-top: 0;
    height: 0;
}

.close{
    border-top: 0;
    height: 0;
    animation: close 0.8s;
}

.open{
    height: 100%;
    animation: open 1s;
}

/*
    images part
 */

.main-avatar-wrapper{
    display: flex;
    text-align: -webkit-center;
    align-items: center;
    justify-content: center;

    width: 194px;
    height: 195px;

    border: 1px solid var(--mainGray);
    box-sizing: border-box;
    border-radius: 60px;
    transform: matrix(1, -0.01, 0.01, 1, 0, 0);

    margin-right:20px;

}

.main-avatar-wrapper img{

    width: 80%;
    height: 80%;

}

.alt-text{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;

    text-align: center;

    color: var(--textGray);
}
