.menu{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    padding: var(--contentPadding);
    flex-direction: row;
    font-size: 1.6rem;
}

.menu a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 1.3rem;
    margin: 10px;
    color: var(--mainGray);
    font-weight: 500;
}

.menu a div{
    display: block;
    width: 87px;
    height: 88px;
}

.menu a div img{
    width: 90%;
    height: 80%;
}


.menu a:hover{
    color: var(--titleRed)!important;
}

.menu a:active{
    color: var(--titleRed)!important;
}

.menu a:focus{
    color: var(--titleRed)!important;
}

.menu li {
    list-style-type: none;
    margin-bottom: 1.3rem;
}