.messages-wrapper{
    display: flex;
    flex-direction: column;

    margin-bottom:2.2rem;
    width: 100%;
}

.dialog-container{
    display: flex;
    flex-direction: column;

    border: 2px solid var(--mainGray);
    border-radius: 20px;

    padding: 0.5rem;
    padding-left: 1rem;
    margin-top: 0.5rem ;
    margin-bottom:2.2rem;
    width: 99%;
}

.new-message-field{
    display: flex;
    flex-direction: row;

    border: 2px solid var(--mainGray);
    border-radius: 20px;

    margin-top: 0.5rem ;
    margin-bottom:2.2rem;
    width: 99%;
}


.example-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    height: 2.4rem;
}

.second-include-wrapper{
    margin-left: 1rem;
}