:root {
    --avatarSize: 130px;
    --navBarPadding: 20px;
    --navBarWidth: 350px;
}



.nav-wrapper{
    list-style: none;
    margin: 40px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.avatar-wrapper{
    display: block;
    text-align: -webkit-center;

    width: 123px;
    height: 100px;

    margin-top: 22px;
    margin-bottom: 28px;
    margin-left: -18px;
}

.avatar-wrapper img{
    width: 80%;
    height: 100%;
}

.nav-title{
    font-style: normal;
    font-weight: 700!important;
    font-size: 36px!important;
    /*line-height: 43px;*/
}

.nav-ul{
    display: inline-block;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 98px;
}

.nav-ul a{
    display: inline-block;
    color: var(--mainGray);
    font-size: 16px!important;
    font-weight: 700;
}

.nav-ul a:hover{
    color: var(--titleRed)!important;
}

.nav-ul a:active{
    color: var(--titleRed)!important;
}

.nav-ul a:focus{
    color: var(--titleRed)!important;
}

.nav-ul li {
    list-style-type: none;
    margin-bottom: 16px;
    width: 170px;
    line-height: 20px;
}

.outButton{
    display: inline-block;
    color: var(--darkerGray);
    font-weight: 650;
    font-size: 23px;
    width: 300px;
    margin-bottom: 43px;
}

.outButton:hover{
    color: var(--titleYellow);
}

.contactAdmin{
    display: inline-block;
    color: var(--disableGray);
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    width: 300px;
}

/* Кнопка выпадающего списка */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

@import url('https://fonts.googleapis.com/css?family=PT+Sans');
.top-menu {
    position: relative;
    background: #fff;
    box-shadow: inset 0 0 10px #ccc;
    max-width: 1200px;
    margin: 0px auto;
}
.top-menu:before,
.top-menu:after {
    content: "";
    display: block;
    height: 1px;
    /*border-top: 3px solid #575350;*/
    /*border-bottom: 1px solid #575350;*/
    margin-bottom: 2px;
}
.top-menu:after {
    /*border-bottom: 3px solid #575350;*/
    /*border-top: 1px solid #575350;*/
    box-shadow: 0 2px 7px #ccc;
    margin-top: 2px;
}
.menu-main {
    list-style: none;
    padding: 0 30px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    position: relative;
}
.menu-main:before,
.menu-main:after {
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.menu-main:before {left: 15px;}
.menu-main:after {right: 15px;}
.menu-main li {
    display: inline-block;
    padding: 5px 0;
}
.menu-main a {
    text-decoration: none;
    display: inline-block;
    margin: 2px 5px;
    padding: 6px 15px;
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto,
    Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: #777777;
    border-bottom: 1px solid transparent;
    transition: .3s linear;
}
.menu-main .current, .menu-main a:hover {
    border-radius: 3px;
    background: #f3ece1;
    color: #313131;
    text-shadow: 0 1px 0 #fff;
    border-color: #c6c6c6;
}
@media (max-width: 500px) {
    .menu-main li {display: block;}
}