.first-include-wrapper{
    display: flex;
    align-content: center;
    flex-direction: row;
    font-size: 1.6rem;
}

.second-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:2.2rem;
    width: 100%;
}

.first-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:2.2rem;
    width: 432px;
}

.example-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    height: 2.4rem;
}

.second-include-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.about-wrapper{
    width: 410px;
    height: 161px;
}

.profile-selectors-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 1.6rem;
    justify-content: space-between;
}

.profile-selectors-item{
    width: 176px;
    height: 65px;
    margin-bottom: 2.15rem;
}