
:root {
    --contentWidth: 1280px;
    --shadowSize: 0.2rem;
    --contentPadding: 2rem;
    --titleRed: #E65730;
    --titleYellow: #F1BF46;
    --focusGray: #666666;
    --mainGray: #888888;
    --darkerGray: #818181;
    --disableGray: #A0A0A0;
    --mainGreen: #63ff2f;
    --warningRed: #E60030;
    --mainWhite: #f6f5f1;
    --white: #f6f5f1;
    --textGray: rgba(104, 104, 104, 0.8);
    --YellowShadow: var(--shadowSize) 0 var(--shadowSize) var(--titleYellow),
    0 var(--shadowSize) var(--shadowSize) var(--titleYellow),
    calc(-1 * var(--shadowSize)) 0 var(--shadowSize) var(--titleYellow),
    0 calc(-1 * var(--shadowSize)) var(--shadowSize) var(--titleYellow);
    --GreenShadow: var(--shadowSize) 0 var(--shadowSize) var(--mainGreen),
    0 var(--shadowSize) var(--shadowSize) var(--mainGreen),
    calc(-1 * var(--shadowSize)) 0 var(--shadowSize) var(--mainGreen),
    0 calc(-1 * var(--shadowSize)) var(--shadowSize) var(--mainGreen);
    --RedShadow: var(--shadowSize) 0 var(--shadowSize) var(--warningRed),
    0 var(--shadowSize) var(--shadowSize) var(--warningRed),
    calc(-1 * var(--shadowSize)) 0 var(--shadowSize) var(--warningRed),
    0 calc(-1 * var(--shadowSize)) var(--shadowSize) var(--warningRed);
}

/*body {*/
/*    background-color: white;*/
/*    background-image: none;*/
/*    scrollbar-arrow-color: #AA0000;*/
/*    margin: 0;*/
/*}*/

.content-wrapper {
    width: var(--contentWidth);
    margin: 0 auto;
    padding: 0;
    position: relative;
    alignment: center;
    flex-direction: row;
    font-size: 1.6rem;
}

.content {
    position: relative;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto,
    Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
    align-content: center;
    flex-direction: row;
    margin: 0;
    /*margin-left: var(--navBarWidth);*/
    /*width: calc(var(--contentWidth) - var(--navBarWidth) - 2 * var(--contentPadding));*/
    padding: var(--contentPadding);
}

button {
    display: block;
    font-size: 1.3rem;
    border: 2px solid var(--mainGray);
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
    /*background-color: white;*/
    /*color: var(--mainGray);*/
}

button:hover {
    border-color: var(--titleYellow);
    color: var(--titleYellow);
}

button:focus {
    border-color: var(--titleRed);
    color: var(--titleRed);
}

button:disabled {
    border-color: var(--disableGray);
    color: var(--disableGray);
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--titleRed);
}

a:hover {
    color: var(--titleYellow);
}

.title {
    font-weight: 700;
    font-size: 4rem;
    color: var(--titleRed) !important;
    text-shadow: var(--YellowShadow);
}

.warning {
    font-size: 1rem;
    color: var(--warningRed);
}

.shown-block {
    display: block;
}

.hidden-block {
    display: none;
}

@keyframes success {
    0% {
        border: 0;
    }
    100% {
        box-shadow: var(--GreenShadow);
    }
}

@keyframes fail {
    0% {
        border: 0;
        box-shadow: 0 0 0;
    }
    100% {
        box-shadow: var(--RedShadow);
    }
}


.success {
    box-shadow: var(--GreenShadow);
    animation: success 3s;
}

.failed {
    animation: fail 1s;
    box-shadow: var(--RedShadow);
}

.mini-btn {
    cursor: pointer;
    display: inline-flex;
    border: 1px solid var(--mainGray);
}

.mini-btn:hover {
    border: 1px solid var(--mainGray);
    background-color: #FFDACA;
}

.mini-btn:active {
    border: 1px solid var(--titleRed);
    background-color: var(--titleRed);
}

#map {
    height: 700px;
    width: 80%;
    margin-left: 10%;
}

.userName {
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto,
    Oxygen, Ubuntu, "Helvetica Neue", sans-serif;;
    display: inline-block;
}

.userName a {
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto,
    Oxygen, Ubuntu, "Helvetica Neue", sans-serif;;
    color: var(--titleYellow);
}

.button-in-row {
    display: flex;
    flex-direction: row;
}

/*$blue-white: #e1e7e8;*/
/*$pink: #fd588a;*/
/*tangerine: #f86a6c;*/

* {
    outline: none;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    height: 100%;
    padding: 1rem;
    background-color: #f6f5f1;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto,
    Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
    min-width: 55em;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto,
    Oxygen, Ubuntu, "Helvetica Neue", sans-serif;
    /*-webkit-font-smoothing: antialiased;*/
}

p,
span,
ul,
li {
    color: black;
    font-weight: 100;
    /*-webkit-font-smoothing: subpixel-antialiased;*/
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto,
    Oxygen, Ubuntu, "Helvetica Neue", sans-serif;;
}

.calendar-contain {
    position: relative;
    left: 0;
    right: 0;
    border-radius: 0;
    width: 100%;
    overflow: hidden;
    max-width: 1020px;
    min-width: 450px;
    margin: 1rem auto;
    background-color: white;
    box-shadow: 5px 5px 72px rgba(30, 46, 50, 0.5);
    color: black;
    top: 5%;
}

.title-bar {
    position: relative;
    width: 100%;
    display: table;
    text-align: right;
    background: white;
    padding: 0.5rem;
    margin-bottom: 0;
}

.title-bar:after {
    display: table;
    clear: both;
}

.title-bar__year {
    display: block;
    position: relative;
    float: left;
    font-size: 1rem;
    line-height: 30px;
    width: 43%;
    padding: 0 0.5rem;
    text-align: left;
}

.title-bar__month {
    position: relative;
    float: left;
    font-size: 1rem;
    line-height: 30px;
    width: 22%;
    padding: 0 0.5rem;
    text-align: left;
}

.title-bar__month:after {
    content: "";
    display: inline;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    top: 5px;
    margin: auto;
    border-top: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    transform: rotate(135deg);
}

.title-bar__minimize,
.title-bar__maximize,
.title-bar__close {
    position: relative;
    float: left;
    width: 34px;
    height: 34px;

}
.title-bar__minimize,
.title-bar__maximize,
.title-bar__close:before {
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    content: " ";
    position: absolute;
    border-color: #8e8e8e;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.title-bar__minimize,
.title-bar__maximize,
.title-bar__close:after {
    top: 30%;
    right: 30%;
    bottom: 30%;
    left: 30%;
    content: " ";
    position: absolute;
    border-color: #8e8e8e;
    border-style: solid;
    border-width: 0 0 2px 0;
}

.title-bar .title-bar__controls {
    display: inline-block;
    vertical-align: top;
    position: relative;
    float: right;
    width: auto;
}

.title-bar .title-bar__controls:before {
    content: none;
}

.title-bar .title-bar__controls:after {
    content: none;
}

.title-bar .title-bar__minimize:before {
    border-bottom-width: 2px;
}

.title-bar .title-bar__maximize :before {
    border-width: 1px 1px 2px 1px;
}

.title-bar .title-bar__close:before,
.title-bar .title-bar__close:after {
    bottom: 50%;
    top: 49.9%;
}

.title-bar .title-bar__close:before {
    transform: rotate(45deg);
}

.title-bar .title-bar__close:after {
    transform: rotate(-45deg);
}

.title-bar .title-bar__close:hover {
background-color: #E04343;
}

.title-bar div:hover:after,
.title-bar div:hover:before {
border-color: #333333;
}

.title-bar .title-bar__close:hover:after,
.title-bar .title-bar__close:hover:before {
 border-color: #FFFFFF;
}

.calendar__sidebar {
    /*width: 100%;*/
    margin: 0 auto;
    background: linear-gradient(120deg, lighten($ blue-white, 5%), $ blue-white);
    padding-bottom: 0.7rem;
    position: absolute;
    height: 100%;
    float: left;
    width: 10em
}

.calendar__sidebar .content {
    padding: 2rem 1.5rem 2rem 4rem;
    color: black;
}

.sidebar__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.9rem;
    padding: 0.7rem 1rem;
    background-color: white;
}

.sidebar__nav-item {
    cursor: pointer;
    display: inline-block;
    width: 22px;
    margin-right: 23px;
    padding: 0;
    opacity: 0.8;
}

.sidebar__nav-item:hover {
    background-color: var(--titleYellow);
}

.sidebar__nav-item:active {
    background-color: var(--titleRed);
}

.sidebar__list {
    list-style: none;
    /*margin: 0;*/
    padding-left: 1rem;
    padding-right: 1rem;
}

.sidebar__list-item {
    cursor: pointer;
    margin: 1.2rem 0;
    color: #333333;
    font-weight: 100;
    font-size: 1rem;
}

.sidebar__list-item:hover {
    color: var(--titleRed);
}

.list-item__time {
    color: gray(30);
    display: inline-block;
    width: 60px;
    margin-right: 2rem
}

/*.list-item__time {*/
/*    color: #333333;*/
/*}*/


.sidebar__heading {
    font-size: 2.2rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

span {
    float: right;
    font-weight: 300;
}

.calendar__heading-highlight {
    color: #2d444a;
    font-weight: 900;
}

.calendar__days {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    width: 70%;
    float: right;
    min-height: 580px;
    height: 80%;
    font-size: 12px;
    padding: 0.8rem 0 1rem 1rem;
    background: white;
}

.calendar__top-bar {
    display: flex;
    flex: 32px 0 0;
}

.top-bar__days {
    width: 100%;
    padding: 0 5px;
    /*color: #333333;*/
    font-weight: 100;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 1rem;
}

.calendar__week {
    display: flex;
    flex: 1 1 0;
}

.calendar__day {
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    padding: 1.9rem 0.2rem 0.2rem;
}

.calendar__date {
    color: black;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 0.7;
}

.calendar__date:hover {
    color: var(--titleRed);
}

.calendar__day:hover {
    color: var(--titleRed);
}

.inactive .calendar__date, .task-count {
    color: #c6c6c6;
}

.today .calendar__date {
    color: var(--titleRed);
}

.calendar__task {
    color: gray;
    display: block;
    font-size: 0.8rem;
}

.calendar__task:hover {
    color: var(--titleRed);
}
.calendar__task--today {
    color: pink;
}