#tsp.content{
    align-items: center;
    flex-direction: column;
}

.tsp-first-include-wrapper{
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
}


.tsp-item{
    width: 272px;
    height: 46px;
    margin-right: 2.15rem;
}

.search-result-field{
    display: flex;
    padding: 1px;
    flex-direction: column;
    width: 90%;
}

.item-wrapper{

    display:flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;

    border: 2px solid var(--mainGray);
    border-radius: 50px;

    margin: 10px;
    padding: 3px;
    padding-left: 20px;
    height: 66px;

    background-color:#FAFAFA;
}

.item-wrapper:hover{
    border-color: 2px solid var(--focusGray);
}

.pre-item{

    display:flex;
    flex-direction: row;

    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;

    margin: 5px;
}

.join-btn{
    display: inline-flex;
    border: 2px solid var(--mainGray);
}

.join-btn:hover{
    border: 2px solid var(--titleRed);
    background-color: var(--titleRed);
}

.join-btn:active{
    border: 2px solid var(--titleYellow);
    background-color: var(--titleRed);
}

.no-search-result{

    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;

    color: #888888;
}